@{
    ViewData["Title"] = "Home -";
}

<div class="text-center">
	<h1 class="display-4" style="padding-top: 0.5em; ">Welcome to your net salary calculator</h1>
	<div class="text-box" style="width: 75%; margin:auto;">
		<h3 style="padding-top: 1em;">Here you can calculate your net salary, total income tax and health insurance tax!</h3>
		<h3 style="padding-top: 2em;">You can see the different minimum and maximum thresholds during the years, as well as the percentage for the income and health insurance tax.</h3>
		<h3 style="padding-top: 2em; padding-bottom: 1em">Register from <a style="color:green" href="/Identity/Account/Register">here</a> to use the calculator.</h3>
	</div>
</div>
